<div class="cx-master-wrapper">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "CX Master Section",
  "blocks": [{ "type": "@theme" }],
  "presets": [{ "name": "CX Master Section" }]
}
{% endschema %}