<div class="main-wrapper-section">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "CX Master Wrapper",
  "blocks": [
    { "type": "@theme" },
    { "type": "@app" }
  ],
  "presets": [
    { "name": "CX Master Wrapper" }
  ]
}
{% endschema %}